:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

--color-text-primary: #DCDCDC;
--color-text-secondary: #0000;
--color-link: #1677ff;     
--color-bg-body: #000;             
--color-bg-btn: rgb(16, 18, 24);   
--color-bg-card-hover: rgba(40, 42, 50, 1); 
--color-keyword-bg: #1E90FF;
--color-border-neutral: gray;
}

* {
  box-sizing: border-box;
  padding: 0; 
  margin: 0;
}